<div class="chatbox-message">
  <% if message.status == "auto" %>
  <div class="message-auto">
  <% else %>
    <% if message.sender == current_user %>
    <div class="message-right">
    <% else %>
    <div class="message-left">
    <% end %>
  <% end %>
    <p><%= message.description %></p>
  </div>
</div>
