<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
        <h1>Mes domaines de compétence</h1>
      </div>
    </div>
    <div class="row">
      <% current_user.user_competencies.each do |competency| %>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
            <div class='product-count'><%= competency.level %></div>
          </div>
          <div class='product-body'>
            <h3><%= competency.competency.name %></h3>
            <p><%= competency.competency.description %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li><a href=""><i class="fa fa-heart"></i></a></li>
            <li><a href=""><i class="fa fa-share"></i></a></li>
            <li><a href=""><i class="fa fa-star"></i></a></li>
          </ul>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
          <i class="fa fa-plus-circle" id="circle" aria-hidden="true"></i>
        </div
      </div>
    </div>
  </div>
</div>
