<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabs">
            <a class="tab active" id="tab-1" href="#">
              <h3>Mes demandes</h3>
              <p><%= @meetings_as_helpee.count %></p>
            </a>
            <a class="tab" id="tab-2" href="#">
              <h3>Mes prestations</h3>
              <p><%= @meetings_as_helper.count %></p>
            </a>
          </div>
        </div>
      </div>
      <div class="row meetings-list" style="display: none">
      <% @meetings_as_helper.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting, status: "aprovable" %>
      <% end %>
      </div>
      <div class="row meetings-list">
      <% @meetings_as_helpee.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting, status: "cancelable" %>
      <% end %>
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <div class="col-xs-12">
        <h2>Chatbox</h1>
      </div>
      <div class="col-xs-12">
        <div class="chatbox" id="chatbox">
        </div>
      </div>
      <div class="col-xs-12">
        <div class="chat-form">

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.tab').on('click', function(e){
        e.preventDefault();
        if (!$(this).hasClass('active')) {
          $('.active').removeClass('active');
          $(this).addClass('active');
          $('.meetings-list').toggle();
        }
      });

      $('.meeting-card').on('click', function(e){
        var meeting_index = $(this).attr('id').match(/\d+/)[0];
        $.ajax({
          type: "GET",
          url: "/meetings/" + meeting_index + "/messages",
          success: function(data){
          }
        });
      });
    });
  </script>
<% end %>
