<div class="container">
  <div class="row">
    <h2>Vous avez 5 actions en attentes</h2>
  </div>
  <div class="row">
    <h2>Meetings en cours de création</h2>
    <div id="pending_approval">
      <% @pending_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h2>Agenda</h2>
    <div id="accepted">
      <% @agenda_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $('.meeting-card').on('click', function(e){
        var meeting_index = $(this).attr('id').match(/\d+/)[0];
      });

      $('.datepicker-input').each(function(){
        $(this).datepicker({
          startDate: "today",
          language: "fr",
          daysOfWeekHighlighted: "0,6",
          autoclose: true,
          todayHighlight: true
        });
      });
    });
  </script>
<% end %>
