<div class="container">
  <div class="row">
    <h2>Vous avez 5 actions en attentes</h2>
  </div>
  <div class="row">
    <h2>Meetings en cours de création</h2>
    <div id="pending_approval">
      <% @pending_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h2>Agenda</h2>
    <div id="accepted">
      <% @agenda_meetings.each do |meeting| %>
        <%= render 'meeting_card', meeting: meeting %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<% content_for :head_links do %>
  <link href="http://addtocalendar.com/atc/1.5/atc-style-button-icon.css" rel="stylesheet" type="text/css">
<% end %>

<% content_for :after_js do %>
  <script>

    (function () {
      if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
      if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
          var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
          s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
          s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
          var h = d[g]('body')[0];h.appendChild(s); }})();

    $(document).ready(function(){

      $('.meeting-card').click(function(e){
        var number = $(this).attr('id').match(/\d+/)[0];
        console.log(number);

      });

      $('.meeting-card').on('click', function(e){
        var meeting_index = $(this).attr('id').match(/\d+/)[0];
      });

      $('.datepicker-input').each(function(){
        $(this).datepicker({
          format: "yyyy-mm-dd",
          startDate: "today",
          language: "fr",
          daysOfWeekHighlighted: "0,6",
          autoclose: true,
          todayHighlight: true
        });
      });
    });
  </script>
<% end %>
