<p>Bienvenue <%= @user.first_name %> sur notre plateforme, vous êtes maintenant officiellement <strong>Syker</strong> !</p>
<p>Syke a pour objectif de faciliter et d'organiser l'échange de compétences entre camarades pour vous aider dans vos projets.</p>
<p>Il vous reste 4 étapes pour pouvoir profiter pleinement de nos services :</p>
<ul>
  <li>1. Complétez votre <strong>profil</strong> en vous connectant  : photo, adresse, bio...</li>
  <li>2. Identifiez et créez vos <strong>compétences</strong>. A vous de vous auto-évaluer : pas de panique, si votre niveau est perçu comme étant trop décalé par rapport à votre estimation, nous vous inviterons ultérieurement à l'ajuster.</li>
  <li>3. Justifiez ou explicitez vos <strong>compétences</strong> en ajoutant des expériences.</li>
  <li>4. Rejoignez une <strong>communauté</strong>. Et c'est parti !</li>
</ul>
<p>Une fois membre, il ne vous reste plus qu'à chercher les compétences dont vous avez besoin puis entamer la discussion avec votre camarade. Vous êtes crédité par défaut de <strong>10h</strong> : n'oubliez pas que cette plateforme est basée sur l'échange, donnez au moins autant que vous sollicitez pour jouer le jeu !</p>
<p>Bonne découverte,</p>
<p>Arthur de l'équipe <a href="http://www.syke.fr">Syke</a></p>
