/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.dashboard {
  margin: 30px;
  height: 150px;
  .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



.more {
  display: none;
  transition: all ease 0.3s;
}

h1:hover .more {
  display: inline-block;
}

.back {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  min-height: calc(100vh - 60px);
  padding-top: 20px;
  h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  .banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
  }
}


