<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'><%= user_competency.level %></div>
    </div>
    <div class='product-body'>
      <h3><%= user_competency.competency.name %></h3>
      <p><%= user_competency.competency.description %></p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-star"></i></a></li>
      <li><a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
