// Create a paragraph for the new review. But hide it.
var new_competency = $("<%= j render 'user_competency_card', user_competency: @user_competency, private_profile: true %>").hide();
// Add it to the DOM, at the end of the existing reviews. It's still hidden.
$('#experiences').append(new_competency);
$('#error-messages').empty();
// Show the new review with an animation!
new_competency.slideDown();

var form_experience = $("<%= j render 'experiences/new_experience_form', experience: @experience, user_competency: @user_competency %>").hide();
$('.modal-content .experiences-box').append("<label><%= t 'activerecord.models.experience' %></label>")
$('.modal-content .experiences-box').append(form_experience);
$('.modal-content .button-box input').val("<%= t 'buttons.update' %>");
form_experience.slideDown();

