<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'search_form' %>
    </div>
    <div class="col-xs-9" id="list">
      <% @peer_competencies.each do |peer_competency| %>
        <%= render 'user_competency_search_card', user_competency: peer_competency, private_profile: false %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $('#filters_competency_id').on('change', function() {
        if (this.value) {
          $.ajax({
            type: "GET",
            url: "<%= competencies_path %>/" + this.value + "/badges",
            success: function(data) {
              $('.badges-filter').empty().append(form_badge);
            }
          });
        } else {
          $('.badges-filter').empty();
        }
      });

      $('#ex9').slider({
        tooltip: 'always'
      });

      $("#ex9").on("slide", function(slideEvt) {
        $("#filters_level").val(slideEvt.value);
      });

      $('.product-body, .profile-picture, .profile-score').click(function(e){
        var number = $(this).parent().attr('id').match(/\d+/)[0];
        ajax_call(number);
      });

      $('.book-meeting').click(function(e){
        var number = $(this).parent().parent().parent().attr('id').match(/\d+/)[0];
        ajax_call(number);
      });

      function ajax_call(competency_id){
        $.ajax({
          type: "GET",
          url: "user_competencies/" + competency_id,
          success: function(data) {
            $('#myModal').modal('show');
          }
        });
      };

      $('.star').on('click', function(e){
        e.preventDefault();
        var index_competency = $(this).attr('id').match(/(\d+)/gi)[0];
        if ($(this).children().hasClass("favorite")){
          var index_favorite = $(this).attr('id').match(/(\d+)/gi)[1];
          $.ajax({
            type: "DELETE",
            url: "user_competencies/" + index_competency + "/favorites/" + index_favorite,
            success: function(data) {
              $('#user-competency-' + index_competency + ' .fa-heart').removeClass("favorite");
              $('#user-competency-' + index_competency + ' .star').attr("id", "star-competency-" + index_competency);
            }
          });
        } else {
          $.ajax({
            type: "POST",
            url: "user_competencies/" + index_competency + "/favorites",
            success: function(data) {
              $(this).children().addClass("favorite");
              $('#user-competency-' + index_competency + ' .fa-heart').addClass("favorite");
              $('#user-competency-' + index_competency + ' .star').attr("id", "star-competency-" + index_competency + "-favorite-" + index_new_favorite);
            }
          });
        };
      });
    });
  </script>
<% end %>
