<div class="col-xs-1">
  <p><strong><%= experience.year %></strong></p>
</div>
<div class="col-xs-4">
  <p><em><%= experience.company %></em></p>
</div>
<div class="col-xs-7">
  <p><%= experience.description %></p>
</div>
