.profile-card {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.profile-picture {
  padding: 0px 5px;
  flex: 0 0 auto;
  text-align: center;
}

.profile-score {
  padding: 0px 5px;
}

.profile-description {
  padding: 0px 10px;
  flex: 0 0 auto;
  text-align: center;
  align-items: center;
}

.profile-content {
  padding-left: 5px;
  text-align: left;
  flex: 1 1 auto;
}

.profile-reviews {
  flex: 0 0 auto;
  height: 100%;
  padding: 0px 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.edit-profile {
  background-color: #0E88D7;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 57px;
  right: -18px;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
  a {
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: #3E68A7;
  }
}

.community-card {
  height: 200px;
  background-color: white;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #C1C1C1;
  transition: all 0.15s ease;
  position: relative;
  #circle {
    font-size: 70px;
    color: #5E99D9;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      color: #396CB0;
      transform: rotate(180deg);
    }
  }
  a {
    text-decoration: none;
  }
}

.community-picture {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
}

.community-name {
  height: 50px;
  background-color: #353535;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  h3 {
    padding: 10px 0;
    margin: 0;
    color: white;
  }
}

.badge-member-count {
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  padding: 7px 0;
  border-radius: 50%;
  background-color: #353535;
  color: white;
  position: absolute;
  top: -15px;
  right: -15px;
}

.community-action {
  position: absolute;
  right: 10px;
  top: 115px;
  i {
    font-size: 30px;
  }
  .fa-plus-circle {
    color: $blue;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: rotate(90deg);
      color: #396CB0;
    }
  }
  .pending-approval {
    color: #FFAC44;
  }
  .blacklisted {
    color: #D01313;
  }
  .member {
    color: #379B48;
  }
}

.link-user-card a{
  text-decoration: none!important;
  color: #202020;
}

.user-card {
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  margin: 5px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #C1C1C1;
  transition: all 0.15s ease;
  &:hover {
    box-shadow: 0px 0px 2px 2px #51A1E4;
  }
  .user-picture {
    flex: 0 1 auto;
    margin: 0 10px;
  }
  .user-name {
    flex: 1 1 auto;
    h5 {
      margin: 0;
    }
  }
  .user-email {
    flex: 0 1 auto;
    p {
      margin: 0 10px;
    }
  }
  .edit-memberships {
    flex: 0 1 auto;
    margin: 0 10px;
  }
}

.meeting-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #C1C1C1;
  transition: all 0.15s ease;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px 0px;
  position: relative;
  .message-badge{
    position: absolute;
    top: -5px;
    left: -5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #C8C8C8;
    color: white;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
    transition: all 0.15s ease;
    &.blue-badge {
      background-color: #4091DC;
    }
  }
  .user-picture {
    flex: 0 0 auto;
  }
  .arrow-meeting {
    font-size: 25px;
    padding: 0 10px;
  }
  .content {
    flex: 0 0 auto;
  }
  p {
    margin: 0 10px;
  }
  .content-meeting {
    flex: 1 1 auto;
    display: flex;
    height: 100%;
    p {
      margin: auto 10px;
    }
  }
  &:hover {
    box-shadow: 0px 0px 2px 2px #51A1E4;
    .message-badge {
      background-color: #676767;
      box-shadow: 0px 0px 1px 1px #51A1E4;
    }
  }
  .action-meeting {
    flex: 0 0 auto;
    padding-right: 5px;
    .meeting_date {
      width: 180px;
    }
    .meeting_duration {
      width: 80px;
    }
    .form-control {
      width: 100%;
      padding: 0px 5px;
    }
    input {
      width: 100px;
    }
  }
  .info-meeting {
    padding: 0 10px;
  }
}

#home-link-card {
  text-decoration: none;
}

.home-card {
  margin: 5px;
  padding: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  flex-direction: column;
  color: #1A1A1A;
  transition: all 0.15s ease;
  position: relative;
  h3 {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
  }
  i {
    font-size: 45px;
  }
  .green-check {
    color: #0CB06A;
  }
  .yellow-check {
    color: #FF961B;
  }
  .red-check {
    color: #FF2525;
  }
  &:hover {
    box-shadow: 0px 0px 2px 2px #3F3F3F;
  }
  .home-badge {
    position: absolute;
    top: 7px;
    right: 10px;
    i {
      font-size: 30px;
    }
  }
}
