.profile-card {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.profile-picture {
  padding: 0px 5px;
  flex: 0 0 auto;
  text-align: center;
}

.profile-score {
  padding: 0px 5px;
}

.profile-description {
  padding: 0px 10px;
  flex: 0 0 auto;
  text-align: center;
  align-items: center;
}

.profile-content {
  padding-left: 5px;
  text-align: left;
  flex: 1 1 auto;
}

.profile-reviews {
  flex: 0 0 auto;
  padding: 0px 20px;
  align-self: flex-start;
}

.edit-profile {
  background-color: #0E88D7;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 57px;
  right: -18px;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
  a {
    color: white;
  }
  &:hover {
    cursor: pointer;
    background-color: #3E68A7;
  }
}

.community-card {
  height: 200px;
  background-color: white;
  margin: 10px 0;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  position: relative;
  #circle {
    font-size: 70px;
    color: #5E99D9;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      color: #396CB0;
      transform: rotate(180deg);
    }
  }
  a {
    text-decoration: none;
  }
}

.community-picture {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
}

.community-name {
  height: 50px;
  background-color: #353535;
  h3 {
    padding: 10px 0;
    margin: 0;
    color: white;
  }
}

.badge-member-count {
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  padding: 7px 0;
  border-radius: 50%;
  background-color: #353535;
  color: white;
  position: absolute;
  top: -15px;
  right: -15px;
}

.community-action {
  position: absolute;
  right: 10px;
  top: 115px;
  i {
    font-size: 30px;
  }
  .fa-plus-circle {
    color: $blue;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: rotate(90deg);
      color: #396CB0;
    }
  }
  .pending-approval {
    color: #FFAC44;
  }
  .blacklisted {
    color: #D01313;
  }
  .member {
    color: #379B48;
  }
}

.user-card {
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  .user-picture {
    flex: 0 1 auto;
    margin: 0 10px;
  }
  .user-name {
    flex: 1 1 auto;
    h3 {
      margin: 0;
    }
  }
  .user-email {
    flex: 0 1 auto;
    p {
      margin: 0 10px;
    }
  }
  .edit-memberships {
    flex: 0 1 auto;
    margin: 0 10px;
  }
}

.meeting-card {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px 0px;
  &.active {
    background-color: #F2F2F2;
  }
  .user-picture {
    flex: 0 0 auto;
  }
  .content {
    flex: 0 0 auto;
  }
  p {
    margin: 0 10px;
  }
  .content-meeting {
    flex: 1 1 auto;
  }
  &:hover {
    background-color: #C8C8C8;
  }
  .action-meeting {
    flex: 0 0 auto;
    padding-right: 5px;
    .form-group {
      width: 80px;
    }
    .form-control {
      width: 100%;
      padding: 0px 5px;
    }
  }
}
