.chatbox {
  margin-top: 25px;
  height: 60vh;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.chat-form {
  padding-top: 10px;
}

.meetings-list {
  margin-top: 10px;
  overflow: hidden;
  overflow-y: auto;
  height: 70vh;
}

.chatbox-message {
  width: 100%;
  padding: 10px;
  p {
    margin: 0;
  }
}

.message-left {
  border-radius: 5px;
  background-color: #DCDCDC;
  width: 70%;
  margin-left: 0;
  margin-right: auto;
  overflow-wrap: break-word;
}
.message-right {
  border-radius: 5px;
  background-color: #76B2DB;
  width: 70%;
  margin-right: 0;
  margin-left: auto;
  overflow-wrap: break-word;
}
.message-auto {
  border-radius: 5px;
  background-color: #F8B936;
  width: 100%;
  font-style: italic;
  margin-right: auto;
  margin-left: auto;
  overflow-wrap: break-word;
}

