.chatbox {
  margin-top: 20px;
  height: 80vh;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.meetings-list {
  margin-top: 10px;
  overflow: hidden;
  overflow-y: auto;
  height: 70vh;
}
