.product {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #C1C1C1;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
  align-self: flex-start;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  box-shadow: 0px 0px 2px 2px #51A1E4;
  cursor: pointer;
}
.product-upvote:hover {
  color: #5898f1;
  cursor: pointer;
}
.product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }

.book {
  position: relative;
  background-color: #1F74BA;
  height: 40px;
  width: 40px;
  color: white;
  box-shadow: 0 0 2px 2px #676767;
  border-radius: 50%;
  font-size: 20px;
  top: 30px;
  right: -20px;
}

.active {
  background-color: #E6E6E6;
}

.experiences {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-content {
  background-color: #FDFDFD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.favorite {
  color: #F5C400;
}

.book-meeting {
  font-size: 35px;
  color: $blue;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
  transition: all 0.2s ease;
  &:hover {
    color: #63C181;
    text-shadow: none;
    transform: scale(1.5);
  }
}
