.modal-footer {
  padding: 10px;
  .modal-button {
    width: 30%;
  }
}

#link-meeting{
  padding: 0;
}

.yellow {
  color: #F7BB06;
}

.modal-headbox {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.modal-bodybox {
  display: flex;
  align-items: center;
  padding: 10px;
  .competency-content {
    flex: 0 0 auto;
    align-self: flex-start;
  }
}

.profile-rating {
  flex: 0 0 auto;
  text-align: center;
}

.modal-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  li {
    padding: 0px 20px;
    font-size: 40px;
  }
}

.experience-content {
  max-height: 100px;
  overflow-y: scroll;
}

.experience-list {
  list-style: none;
}

.modal-review {
  padding: 15px;
  border-top: 1px solid #e5e5e5;
  .review-list {
    list-style: none;
    max-height: 100px;
    overflow-y: scroll;
  }
}
