<div class="col-xs-12 col-md-3 text-center">
  <div class="community-card">
    <% if community.photo? %>
      <%= cl_image_tag community.photo.path, class: 'avatar-extra-large' %>
    <% end %>
    <h3><%= community.name %></h3>
    <div class="badge-member-count">
      <%= community.memberships.count %>
    </div>
    <div class="community-action">
      <% if current_user.memberships.where(community: community).empty? %>
        <i class="fa fa-plus-circle" id="circle" aria-hidden="true"></i>
      <% else %>
        <% status = current_user.memberships.find_by(community: community).status %>
        <% if status == "member" %>
          <i class="fa fa-check-circle" style="color: green" aria-hidden="true"></i>
        <% elsif status == "pending approval" %>
          <i class="fa fa-check-circle" style="color: yellow" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-minus-circle" style="color: red" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
