<div class="col-xs-12 col-md-8 col-md-offset-2">
  <%= link_to profile_path(user) do %>
  <div class="user-card">
    <div class="user-picture">
    <% if user.profile.photo? %>
      <%= cl_image_tag user.profile.photo.path, class: 'avatar-large' %>
    <% end %>
    </div>
    <div class="user-name">
      <h3><%= user.first_name %> <%= user.last_name %></h3>
    </div>
  </div>
  <% end %>
</div>
