<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= t '.welcome' %></h1>
    </div>
  </div>
  <div class="row">
    <% @communities.each do |community| %>
     <%= render 'community_card', community: community %>
    <% end %>
  </div>
  <% if current_user.admin %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= link_to new_community_path do %>
      <i class="fa fa-plus-circle" id="circle" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.join-community').on('click', function(e){
        var index_community = $(this).attr('id').match(/\d+/)[0];
        $.ajax({
          type: "GET",
          url: "communities/" + index_community + "/memberships/new",
          success: function(data) {
            $('#myModal').modal('show');
          }
        });
      });
    });
  </script>
<% end %>
